<li>
  <%= link_to user.name, user %>
  <% if user.normal_user? && current_user.admin? %>
    | <%= link_to t(".delete"), user, method: :delete,
      data: { confirm: t(".confirm") } %>
  <% end %>
</li>
