<% provide(:title, t(".title")) %>
<h1 class="text-center"><%= t ".heading" %></h1>

<%= will_paginate(@users,
  renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate(@users,
  renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
