@import 'bootstrap';

/* universal */
body {
  padding-top: 80px;
}

/* forms-signin */
.form-user {
  width: 100%;
  max-width: 430px;
  padding: 15px;
  margin: auto;
}

.form-user .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-user .form-control:focus {
  z-index: 2;
}

.form-user input {
  margin-bottom: -1px;
  border-radius: 0;
}
#user_password_confirmation, #password_reset_email {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* forms-login */
.checkbox {
  margin-top: 10px;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-300;
  color: $gray-700;
}

footer a {
  color: $gray-600;
}

footer a:hover {
  color: $gray-900;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 0.5px solid $gray-200;
  }
}
