<footer class="footer">
  <small>
    <p><%= t "foods_and_drinks" %></p>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), "#" %></li>
      <li><%= link_to t("help"), "#" %></li>
    </ul>
  </nav>
</footer>
